body{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}
#lol{
    border: solid red 3px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 99.5%;
    justify-content: space-around;
}

h1{
border: solid black;
padding-left: 65px;
padding-right: 65px;
background-color:aqua;
text-align: center;
}

#mitten{
width: 99.5%;
display:flex;
border:solid orange 3px;
flex-direction:row;
align-items:center;
justify-content: space-between;
height: 240px;
}

#högled{
background-color:pink;
border: solid black 3px;
padding: 25px;
text-align: center;
width:45.25%;
}

#vänsled{
background-color:yellow;
border:solid black 3px;
padding:25px;
text-align: center;
width:45.25%;
}

.google-Mono{
font-family:'Spacemono',sans-serif;
}

#text{
border:solid yellow 3px;


}